// Color Variables
$primary-color: #000;
$secondary-color: #040a42;
$text-color: #000;
$text-color-light: rgb(26, 25, 25);
$text-color-dark: rgb(24, 22, 22);
$body-color: #fff;
$border-color: #ededf1;
$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;

// Font Variables
$primary-font: Helvetica sans-serif;
$secondary-font: 'futura-bold';
$icon-font: 'themify';
